<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <body>
        <main class="container">
            <h1>Job Scrapper ! {{name}}</h1>
            <h4>What do you want for ?</h4>
            <form action="/search">
                <input type="text" name="keyword" placeholder="write one keyword please" />
                <button>Search</button>
        
            </form>
        </main>
      </body>
</html>