<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
</head>
<body>
    <main class="container">
    <h1>Search Results: {{keyword}}</h1>
    <a href="/export?keyword={{keyword}}" target="_blank">Export to file</a>
    <figure>
    <table role="grid">
        <thead>
            <tr>
                <th>Company</th>
                <th>Job Titles</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{job.company_name}}</td>
                <td>{{job.job_titles}}</td>
                <td><a href="{{job.company_url}}" target="_blank">Apply Now &rAarr;</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </figure>
    </main>
</body>
</html>